<!DOCTYPE html>
<html>
    <head>
        <title>HTML to Canvas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css">

        <script src="/MyPlugins/htmlToCanvas/jquery/jquery.js"></script>
        <script src="/MyPlugins/htmlToCanvas/html2canvas/html2canvas.js"></script>
        <script src="/MyPlugins/htmlToCanvas/jspdf/jspdf.min.js"></script>
        <script src="../myScript/PDFFabric.js"></script>
        <script>
            var pageWidth = 710;
            var pageHeight = 950;
            $(document).ready(function () {

                $("#btnPrint").click(function () {
                    new PDFFabric({
                        target: $("#target"),
                        returnType: "base64",
                        onSuccess: function (pdf) {
                            window.open(pdf);
                        }
                    }).createPDF();
                });


            });
        </script>
    </head>
    <body>
        <div class="container"><button id="btnPrint" class="btn btn-primary">Print</button></div>

        <div class="container-fluid" id="target">

            <h2>Basic Table</h2>
            <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th><label>Firstname</label></th>
                        <th><label>Lastname</label></th>
                        <th>Email</th>
                        <th colspan="2">Colspan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>

            <div style="border: 1px solid goldenrod;">

                <div style="margin: 10px; border: 1px solid red; height: 500px;"></div>
                <div style="margin: 10px; border: 1px solid yellow; height: 200px;"></div>
                <div style="margin: 10px; border: 1px solid black; height: 100px;"></div>
                <div style="margin: 10px; border: 1px solid green;">
                    <div style="margin: 10px; border: 1px solid black;">
                        <h2>Basic Table</h2>
                        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><label>Firstname</label></th>
                                    <th><label>Lastname</label></th>
                                    <th>Email</th>
                                    <th colspan="2">Colspan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>john@example.com</td>
                                    <td>john@example.com</td>
                                </tr>
                                <tr>
                                    <td>Mary</td>
                                    <td>Moe</td>
                                    <td>mary@example.com</td>
                                    <td>mary@example.com</td>
                                </tr>
                                <tr>
                                    <td>July</td>
                                    <td>Dooley</td>
                                    <td>july@example.com</td>
                                    <td>july@example.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>   
                    <div style="margin: 10px; border: 1px solid black; height: 500px;"></div>   
                </div>

            </div>

        </div>
    </body>
</html>
